@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.nav-title{
    display: flex;
    gap: 20px;
    /* padding-top: 50px; */
    list-style-type: none;
    align-items: center;
    color: white;
    font-family:  'PT Mono', monospace;
} 

.nav-title li a{
    font-style: none;
    text-decoration: none;
    color: white;
    padding-top: auto;
}
body {
    background-color: black;
}

article {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    gap: 150px;

}

div > img {
    width: 500px;
    height: auto;
    margin-bottom: 75px;
    margin-top: 50px;
    margin-left: 50px;
}

.imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 60px;
    height: auto;
    padding: 0%;
}
    
.sobre {
    height: auto;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    color: white;   
    font-family:  'PT Mono', monospace;
    line-height: 30px;
}

/* linha branca do titulo */
.linha{
    background-color: #ffffff;
    height: 2px;
    width: 200px;
    margin-top: 8px;
}

.linha-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* width: 200PX; */
}

h1{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #008515;
    font-size: 45px;
    font-family:  'PT Mono', monospace;
}

li{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    height: 35px;
    color: #008515;
    font-size: 20px;
    font-family:  'PT Mono', monospace;
}
p{
    display: flex;
    align-items: center;
    list-style: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 60px;
    gap: 10px;
    font-family:  'PT Mono', monospace;
}

.texto-shows{
    display: flex;
    align-items: center;
    list-style: none;
    color: #ffffff;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 60px;
    gap: 10px;
    font-family:  'PT Mono', monospace;
}

h3{
    color: #ffffff;
    font-size: 64px;
    font-family:  'PT Mono', monospace;
}
label{
    color: #ffffff;
    font-family:  'PT Mono', monospace;
}

body > section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px ;
    gap: 30px;
}

section > img{
    height: 60px;
}

section > article {
    color: #ffffff;
    font-size: 18px;
    padding: 0px;
    font-family:  'PT Mono', monospace;
    gap: 0px;
}
h4{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    font-family:  'PT Mono', monospace;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    gap: 20px;
}

form div input{
    width: 400px;
    height: 50px;
    border: 2px solid #008515;
    color: #ffffff;
    background-color: black;
    font-size: 20px;
}

form div input:focus{
    border-color: #008515;
}
.btn-enviar input{
    background-color: #008515;
    color: #ffffff;
    font-size: 20px;
    width: auto;
    padding: 15px 30px;
    box-shadow: 5px 5px 0px #747474;
    cursor: pointer;
}
footer{
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    gap: 50px;
    background-color: #008515;

}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
    font-family:  'PT Mono', monospace;
}

section > article {
    display: flex;
    flex-direction: column;
}

.img-footer{
    display: inline;
    justify-content: center;
    width: 40px;
}



@media (max-width:520px){
    nav{
        gap: 30px;
    }
    .nav-title li{
        font-size: 15px;
    }
.sobre {
    padding-top: 30px;
    /* width: 290px; */
    flex-direction: column;

}

.texto-shows{
    display: flex;
    color: #ffffff;
    font-size: 18px;
    font-weight: 60px;
    gap: 10px;
    font-family:  'PT Mono', monospace;
}

.imagens {
    display: none;
}
h1{
    font-size: 35px;

}
li{
    font-size: 20px;
    
}
.logo {
    width: 60px;
    height: auto;
    padding: 0%;
}
   
}

